* {
    box-sizing: border-box;
}

body {
    background: url('/images/A4dGoV.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 90vh;
    position: relative;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(41, 41, 41, 0.345);
    padding: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 150px;
    position: relative;
    padding-bottom: 100px;
}

.badge__create {
    margin: 0 auto;
}

.form {
    background-color: #2f3136;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 490px;
    padding: 20px;
    position: relative;
}

.badge {
    background-color: #2f3136;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    width: 500px;
    height: 160px;
    padding: 20px;
    position: relative;
    color: #fff;
    align-items: center;
    display: none;
}

.save {
    position: absolute;
    right: 0;
    bottom: -80px;
}

.preview {
    position: absolute;
    right: 145px;
    bottom: -80px;
}

.badge.visible {
    display: flex;
}

.badge__id {
    position: absolute;
    font-size: 14px;
    right: 15px;
    top: 13px;
    color: aquamarine;
}

.badge__content {
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.badge__icon {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    background: #6851FF;
    margin-right: 15px;
}

.badge__heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 115px);
}

.badge__title {
    font-size: 24px;
    margin-bottom: 5px;
}

.badge__desc {
    font-size: 18px;
}

.badge__dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #b9bbbe;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

label[for="numberOfCertificate"] {
    display: block;
    color: white;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"],
input[type="date"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #40444b;
    border: none;
    color: white;
    font-size: 16px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #72767d;
}

button,
a.button {
    display: block;
    padding: 10px 20px;
    margin: 30px auto;
    background-color: #634ded;
    text-decoration: none;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
a.button:hover {
    background-color: #624dedb5;
}

.home-button {
    display: block;
    padding: 10px 20px;
    margin: 30px auto;
    background-color: #634ded;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    right: 30px;
    top: 0;
    position: fixed;
}

.button-text {
    padding: 5px;
}

footer {
    position: fixed;
    background-color: rgba(41, 41, 41, 0.345);
    padding: 10px;
    color: white;
    bottom: 0;
    width: 100%;
    margin-top: 70px;
    text-align: center;
}

.finding-error {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
}