<!DOCTYPE html>
<html>

<head>
    <title>Мій лендінг</title>
    <link rel="stylesheet" href="views/styles.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>
    </body>
</head>

<body class="login-body">
    <div class="top-bar">
        <button class="btn" onclick="window.location.href='/findBadge'">Пошук сертифікатів</button>
        <% if (isAuthenticated) { %>
            <button class="btn" onclick="window.location.href='/create'">Створити сертифікат</button>
            <button class="btn" onclick="window.location.href='/auth/signout'">Вихід</button>
        <% } else { %>
            <button class="btn" onclick="window.location.href='/auth/signin'">Авторизація</button>
        <% } %>
    </div>


    <footer>
        <div>
          <p>&copy; 2023 My Website. All rights reserved.</p>
        </div>
      </footer>
</body>

</html>